@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@font-face {
  font-family: "molo";
  src: url("../fonts/Neo Sans/Neo Sans Bold/Neo Sans Bold.ttf");
}
@font-face {
  font-family: "koko";
  src: url("../fonts/Museo\ Sans\ Cyrl\ 300.ttf");
}
h1{
  font-family: 'lato',koko;
  font-size: 3rem;
  line-height: 50px;
  color: #2E7BA9 !important;
}
body{
  font-family: koko;
}

#hero{
  height: calc(100vh - 100px);
}
.hero-image {
  height: 650px;
  width: 1400px;
  background-image: url(../images/background/test1.png) !important;
  background-position: center -40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-intro{
  margin-bottom: 5%;
}

.nav-link {
  color: #2E7BA9 !important;
  /* #c499ed */
  font-size: 1.4rem;
  font-weight: 400;
}
.navbar ul li a {
  position: relative;
}
.navbar-nav li:not(:last-child) a{
  margin-right: 20px !important;
}
.navbar-nav li:not(:last-child) a.active:after {
  content: "";
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  position: absolute;
  background: #2E7BA9;
  width: 100%;
}
.navbar-nav li:not(:last-child) a:after {    
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #2E7BA9;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav li:not(:last-child) a:hover:after { 
  width: 100%; 
  left: 0; 
}
/* btn */
.btn-hover-transition{
  transition: background .3s ease-in-out,
  color .3s ease-in-out;
}
.nav-accent {   
  border-radius: 8px; 
  background: #2E7BA9;
  color: white !important;
  padding: 0.4rem 2.2rem !important;
}
.nav-accent:hover { 
  outline: 2px solid #2E7BA9;
  background: rgb(255, 255, 255) ;
  color: #2E7BA9 !important;
}
/* Costom hamburger */
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#2E7BA9' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: #2E7BA9;
}

.btn-action{
  text-decoration: none;
  padding: .6rem 1.2rem;
}

.btn-action-secondary{
  margin-right: 16px;
  border-radius: 24px;
  outline: 2px solid #2E7BA9;
  outline-offset: -2px;
  background: rgb(255, 255, 255) ;
  color: #2E7BA9 !important;
}
.btn-action-secondary:hover{
  background: #2E7BA9;
  color: rgb(255, 255, 255) !important;
}
.btn-action-primary{
  border-radius: 24px;
  background: #c499ed ;
  color: rgb(255, 255, 255) !important;
}
.btn-action-primary:hover{
  outline: 2px solid #c499ed;
  outline-offset: -2px;
  color: #c499ed !important;
  background: rgb(255, 255, 255);
}