@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@font-face {
  font-family: "koko";
  src: url("/fonts/Museo\ Sans\ Cyrl\ 300.ttf");
}

body {
  margin: 0;
}

#loading-bg {
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
  position: absolute;
}
.loading-logo {
  position: absolute;
  left: calc(50% - 108px);
  top: 40%;
}
.loading {
  position: absolute;
  left: calc(50% - 35px);
  top: 50%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
}
.loading .effect-1,
.loading .effect-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-left: 3px solid #C49AEC;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loading .effect-1 {
  animation: rotate 1s ease infinite;
}
.loading .effect-2 {
  animation: rotateOpacity 1s ease infinite 0.1s;
}
.loading .effect-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-left: 3px solid #C49AEC;
  -webkit-animation: rotateOpacity 1s ease infinite 0.2s;
  animation: rotateOpacity 1s ease infinite 0.2s;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loading .effects {
  transition: all 0.3s ease;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotateOpacity {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 1;
  }
}


#home h1{
  font-family: 'lato';
  font-size: 3rem;
  line-height: 50px;
  color: #2E7BA9 !important;
}
#home{
  font-family: koko;
  background-color: #fff !important;
}

#hero{
  height: calc(100vh - 100px);
}
.hero-image {
  height: 650px;
  width: 1400px;
  background-image: url(test1.png) !important;
  background-position: center -40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-intro{
  margin-bottom: 5%;
  padding-left:100px;
}

#home .nav-link {
  color: #2E7BA9 !important;
  /* #c499ed */
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}
#home .navbar ul li a, #home .navbar ul li button {
  position: relative !important;
}
#home .navbar-nav li:not(:last-child) a{
  margin-right: 20px !important;
}
#home .navbar-nav li:not(:last-child) a.active:after, #home .navbar-nav li:not(:last-child) button.active:after {
  content: "";
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  position: absolute;
  background: #2E7BA9 !important;
  width: 100%;
}
#home .navbar-nav li:not(:last-child) a:after, #home .navbar-nav li:not(:last-child) button:after {    
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #2E7BA9 !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#home .navbar-nav li:not(:last-child) a:hover:after { 
  width: 100%; 
  left: 0; 
}
/* btn */
#home .btn-hover-transition{
  transition: background .3s ease-in-out,
  color .3s ease-in-out;
}
#home .nav-accent {   
  border-radius: 8px !important; 
  background: #2E7BA9 !important;
  color: white !important;
  padding: 0.4rem 2.2rem !important;
}
#home .nav-accent:hover { 
  outline: 2px solid #2E7BA9 !important;
  background: rgb(255, 255, 255) !important;
  color: #2E7BA9 !important;
}
/* Costom hamburger */
#home .custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#2E7BA9' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#home .custom-toggler.navbar-toggler {
  border-color: #2E7BA9;
}

#home .btn-action{
  text-decoration: none;
  padding: .6rem 1.2rem;
}

#home .btn-action-secondary{
  margin-right: 16px;
  border-radius: 24px;
  outline: 2px solid #2E7BA9;
  outline-offset: -2px;
  background: rgb(255, 255, 255) ;
  color: #2E7BA9 !important;
}
#home .btn-action-secondary:hover{
  background: #2E7BA9;
  color: rgb(255, 255, 255) !important;
}
#home .btn-action-primary{
  border-radius: 24px;
  background: #c499ed ;
  color: rgb(255, 255, 255) !important;
}
#home .btn-action-primary:hover{
  outline: 2px solid #c499ed;
  outline-offset: -2px;
  color: #c499ed !important;
  background: rgb(255, 255, 255);
}